@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

button {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  height: 90%;
  background: $whiteColor;
}

img {
  object-fit: cover;
  align-self: center;
}