nav {
  @include flexCB;
  height: 80px;
  width: 100%;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  overflow-x: hidden;

  .logo {
    @include flexC;
    padding-left: 30px;
  }

  //   HAMBUGGER
  .hambugger-menu {
    @include flexCC;
    margin-right: 2rem;

    .icon {
      font-size: 1.8rem;
    }
  }
}

// MOBILE NAV ITEMS
.mob-nav-items {
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  height: calc(100vh - 80px);
  transform: translateX(100%);
  transition: 0.5s ease-in-out all;
  z-index: 3;
  background: #fff;

  &.show {
    transform: translateX(0);
  }
}

// SEARCH BAR
.search {
  @include flexCC;

  .search-container {
    @include flexCB;
    background: #fff;
    width: 90%;
    height: 50px;
    border: 2px solid rgba(84, 95, 125, 0.15);
    margin: 12px 0;
    border-radius: 8px;

    input {
      width: 90%;
      border-radius: 5px;
      background: #fff;
      padding-left: 1rem;
    }

    .search-icon {
      @include flexCC;
      width: 50px;
      height: 100%;
      background: $primaryColor;
      border-radius: 0 4px 4px 0px;
      cursor: pointer;

      .icon {
        color: #fff;
        font-size: 1rem;
      }
    }
  }
}

// NAV ITEMS
.nav-items {
  ul {
    width: 90%;
    margin: auto;

    li {
      @include flexC;
      margin: 1.5rem 0;
      color: #213f7d;
      cursor: pointer;
    }

    .bell {
      font-size: 2rem;
      margin-left: 0.5rem;
    }

    .profile {
      border-radius: 50%;
      width: 50px;
      @include flexCC;

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include for-phone-only {}

@include for-tablet-potrait-up {

  // NAV ITEMS
  .nav-items {
    ul {
      li {
        &:first-child {
          width: 19%;
        }
      }
    }
  }
}

@include for-tablet-landscape-up {}

@include for-desktop-up {
  nav {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    overflow: visible
  }

  // NAV ITEMS
  .nav-items {
    ul {
      @include flexCC;
      flex-direction: row;
      width: auto;
      margin: auto;

      li {
        margin: 0 1rem;

        &:first-child {
          width: auto;
        }

        &:last-child {
          position: relative;

          &:hover .admin-options {
            transform: scale(1);
          }
        }
      }
    }
  }
}

@include for-big-desktop-up {}